button {
	color: white;
	border: none;
}
.header {
	background-color: rgba(0, 0, 0, 0.3);
	border: none;
	border-radius: 20px;
	outline: none;
	box-shadow: none;
}
.header image {
	transition-duration: 0.25s;
	transform: scale(1);
	filter: brightness(1);
	background: white;
	color: black;
	border-radius: 50px;
	min-width: 26px;
	min-height: 26px;
}
.header:hover image:hover {
	transform: scale(1.16);
}
.header:active image:active {
	transition-duration: 0.045s;
	transform: scale(0.95);
	filter: brightness(0.5);
}
.header button {
	background: transparent;
}
.main-content {
	margin: 28px;
}
.clicked {
	filter: brightness(45%);
}
.window {
	background-color: #363636;
	color: white;
	border-radius: 20px;
}
label {
	color: white;
}
