headerbar {
   background-color: #363636;
}
button {
   transition-duration: 0.4s;
   color: white;
	filter: brightness(100%);
}
button:hover {
	filter: brightness(60%);
}
.window {
   background-color: #363636;
   color: white;
}
label {
   color: white;
}
