headerbar {
   background-color: #363636;
}
button {
   color: white;
}
.main-content {
   margin: 20px;
}
.clicked {
	filter: brightness(45%);
}
.window {
   background-color: #363636;
   color: white;
}
label {
   color: white;
}
